fina_wsdl/B2BFinaInvoiceWebService/ChangeB2BOutgoingInvoiceStatusMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://fina.hr/eracun/b2b/ChangeB2BOutgoingInvoiceStatus/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iwsc="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" targetNamespace="http://fina.hr/eracun/b2b/ChangeB2BOutgoingInvoiceStatus/v0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" schemaLocation="InvoiceWebServiceComponents.xsd"/>
	<xsd:element name="ChangeB2BOutgoingInvoiceStatusMsg">
		<xsd:annotation>
			<xsd:documentation>Poruka za promjenu statusa izlaznog računa.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="iwsc:HeaderSupplier">
					<xsd:annotation>
						<xsd:documentation>Zaglavlje poruke</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Data">
					<xsd:annotation>
						<xsd:documentation>XML s podacima</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="B2BOutgoingInvoiceStatus">
								<xsd:annotation>
									<xsd:documentation>Omotač za promjenu statusa izlaznog računa</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:choice>
											<xsd:element name="FinaInvoice" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Identifikator računa u sustavu Fina e-Račun B2B.</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="InvoiceID" type="xsd:integer">
															<xsd:annotation>
																<xsd:documentation>Identifikator računa u sustavu e-Račun B2B.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="SupplierInvoice" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Broj računa u sustavu pošiljatelja.</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="SupplierInvoiceID" type="xsd:string">
															<xsd:annotation>
																<xsd:documentation>Broj računa u sustavu pošiljatelja.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="InvoiceYear" type="xsd:integer">
															<xsd:annotation>
																<xsd:documentation>Godina računa u sustavu pošiljatelja.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:choice>
										<xsd:element ref="iwsc:OutgoingInvoiceStatus">
											<xsd:annotation>
												<xsd:documentation>Status u koji se želi napraviti promjena u sustavu e-Račun B2B.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ChangeB2BOutgoingInvoiceStatusAckMsg">
		<xsd:annotation>
			<xsd:documentation>Sinkroni odgovor na poruku za promjenu statusa izlaznog računa.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="iwsc:MessageAck"/>
				<xsd:element ref="iwsc:Error" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
