Connected Services/ServiceReference1_fina_wsdl/EchoMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:iwsc="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" xmlns="http://fina.hr/eracun/b2b/pki/Echo/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2b/pki/Echo/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvoiceWebServiceComponents.xsd" namespace="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" />
  <xsd:element name="EchoMsg">
    <xsd:annotation>
      <xsd:documentation>Poruka testiranje dostupnosti web servisa</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:HeaderSupplier">
          <xsd:annotation>
            <xsd:documentation>Zaglavlje poruke</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>XML s podacima</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EchoData">
                <xsd:annotation>
                  <xsd:documentation>Kontejner za sadr??aj</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Echo" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Sadr??aj teksta</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EchoAckMsg">
    <xsd:annotation>
      <xsd:documentation>Sinkroni odgovor na echo metodu</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:MessageAck" />
        <xsd:element name="EchoData">
          <xsd:annotation>
            <xsd:documentation>XML s podacima odgovora</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Echo" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Sadr??aj teksta</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>