Connected Services/ServiceReference5_EIzvjestavanjeService/eIzvjestavanjeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:izv="http://www.porezna-uprava.gov.hr/fin/2024/types/eIzvjestavanje" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.porezna-uprava.gov.hr/fin/2024/services/eIzvjestavanjeService" name="eIzvjestavanjeService" targetNamespace="http://www.porezna-uprava.gov.hr/fin/2024/services/eIzvjestavanjeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../eIzvjestavanjeSchema/eIzvjestavanjeSchema.xsd" namespace="http://www.porezna-uprava.gov.hr/fin/2024/types/eIzvjestavanje" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EvidentirajOdbijanjeZahtjev">
    <wsdl:documentation>Zahtjev za evidentiranje odbijanja eRačuna</wsdl:documentation>
    <wsdl:part name="EvidentirajOdbijanjeZahtjev" element="izv:EvidentirajOdbijanjeZahtjev" />
  </wsdl:message>
  <wsdl:message name="EvidentirajOdbijanjeOdgovor">
    <wsdl:documentation>Odgovor na zahtjev za evidentiranje odbijanja eRačuna</wsdl:documentation>
    <wsdl:part name="EvidentirajOdbijanjeOdgovor" element="izv:EvidentirajOdbijanjeOdgovor" />
  </wsdl:message>
  <wsdl:message name="EvidentirajNaplatuZahtjev">
    <wsdl:documentation>Zahtjev za evidentiranje naplate eRačuna</wsdl:documentation>
    <wsdl:part name="EvidentirajNaplatuZahtjev" element="izv:EvidentirajNaplatuZahtjev" />
  </wsdl:message>
  <wsdl:message name="EvidentirajNaplatuOdgovor">
    <wsdl:documentation>Odgovor na zahtjev za evidentiranje naplate eRačuna</wsdl:documentation>
    <wsdl:part name="EvidentirajNaplatuOdgovor" element="izv:EvidentirajNaplatuOdgovor" />
  </wsdl:message>
  <wsdl:message name="EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev">
    <wsdl:documentation>Zahtjev za evidentiranje isporuke za koju nije izdan eRačun</wsdl:documentation>
    <wsdl:part name="EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev" element="izv:EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev" />
  </wsdl:message>
  <wsdl:message name="EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor">
    <wsdl:documentation>Odgovor na zahtjev za evidentiranje isporuke za koju nije izdan eRačun</wsdl:documentation>
    <wsdl:part name="EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor" element="izv:EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor" />
  </wsdl:message>
  <wsdl:message name="OvlastenjaFiskalizacijeZahtjev">
    <wsdl:documentation>Zahtjev za ovlastenja fiskalizacije</wsdl:documentation>
    <wsdl:part name="OvlastenjaFiskalizacijeZahtjev" element="izv:OvlastenjaFiskalizacijeZahtjev" />
  </wsdl:message>
  <wsdl:message name="OvlastenjaFiskalizacijeOdgovor">
    <wsdl:documentation>Odgovor na zahtjev za ovlastenja fiskalizacije</wsdl:documentation>
    <wsdl:part name="OvlastenjaFiskalizacijeOdgovor" element="izv:OvlastenjaFiskalizacijeOdgovor" />
  </wsdl:message>
  <wsdl:portType name="EIzvjestavanjeServicePortTip">
    <wsdl:operation name="EvidentirajOdbijanje">
      <wsdl:input name="EvidentirajOdbijanjeZahtjev" message="tns:EvidentirajOdbijanjeZahtjev" />
      <wsdl:output name="EvidentirajOdbijanjeOdgovor" message="tns:EvidentirajOdbijanjeOdgovor" />
    </wsdl:operation>
    <wsdl:operation name="EvidentirajNaplatu">
      <wsdl:input name="EvidentirajNaplatuZahtjev" message="tns:EvidentirajNaplatuZahtjev" />
      <wsdl:output name="EvidentirajNaplatuOdgovor" message="tns:EvidentirajNaplatuOdgovor" />
    </wsdl:operation>
    <wsdl:operation name="EvidentirajIsporukuZaKojuNijeIzdanERacun">
      <wsdl:input name="EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev" message="tns:EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev" />
      <wsdl:output name="EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor" message="tns:EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor" />
    </wsdl:operation>
    <wsdl:operation name="OvlastenjaFiskalizacije">
      <wsdl:input name="OvlastenjaFiskalizacijeZahtjev" message="tns:OvlastenjaFiskalizacijeZahtjev" />
      <wsdl:output name="OvlastenjaFiskalizacijeOdgovor" message="tns:OvlastenjaFiskalizacijeOdgovor" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EIzvjestavanjeServiceSoap" type="tns:EIzvjestavanjeServicePortTip">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EvidentirajOdbijanje">
      <soap:operation soapAction="" />
      <wsdl:input name="EvidentirajOdbijanjeZahtjev">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EvidentirajOdbijanjeOdgovor">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvidentirajNaplatu">
      <soap:operation soapAction="" />
      <wsdl:input name="EvidentirajNaplatuZahtjev">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EvidentirajNaplatuOdgovor">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvidentirajIsporukuZaKojuNijeIzdanERacun">
      <soap:operation soapAction="" />
      <wsdl:input name="EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OvlastenjaFiskalizacije">
      <soap:operation soapAction="" />
      <wsdl:input name="OvlastenjaFiskalizacijeZahtjev">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OvlastenjaFiskalizacijeOdgovor">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EIzvjestavanjeService">
    <wsdl:port name="EIzvjestavanjeService" binding="tns:EIzvjestavanjeServiceSoap">
      <soap:address location="" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>