Connected Services/ServiceReference4_B2GFinaInvoiceWebService/ChangeB2GOutgoingInvoiceStatusMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:iwsc="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" xmlns="http://fina.hr/eracun/b2g/ChangeB2GOutgoingInvoiceStatus/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2g/ChangeB2GOutgoingInvoiceStatus/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvoiceWebServiceComponents.xsd" namespace="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" />
  <xsd:element name="ChangeB2GOutgoingInvoiceStatusMsg">
    <xsd:annotation>
      <xsd:documentation>Poruka za promjenu statusa izlaznog ra??una.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:HeaderSupplier">
          <xsd:annotation>
            <xsd:documentation>Zaglavlje poruke</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>XML s podacima</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="B2GOutgoingInvoiceStatus">
                <xsd:annotation>
                  <xsd:documentation>Omota?? za promjenu statusa izlaznog ra??una</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:choice>
                      <xsd:element minOccurs="0" name="FinaInvoice">
                        <xsd:annotation>
                          <xsd:documentation>Identifikator ra??una u sustavu Fina e-Ra??un B2G.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="InvoiceID" type="xsd:integer">
                              <xsd:annotation>
                                <xsd:documentation>Identifikator ra??una u sustavu e-Ra??un B2G.</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SupplierInvoice">
                        <xsd:annotation>
                          <xsd:documentation>Broj ra??una u sustavu po??iljatelja.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="SupplierInvoiceID" type="xsd:string">
                              <xsd:annotation>
                                <xsd:documentation>Broj ra??una u sustavu po??iljatelja.</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="InvoiceYear" type="xsd:integer">
                              <xsd:annotation>
                                <xsd:documentation>Godina ra??una u sustavu po??iljatelja.</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:element ref="iwsc:OutgoingInvoiceStatus">
                      <xsd:annotation>
                        <xsd:documentation>Status u koji se ??eli napraviti promjena u sustavu e-Ra??un B2G.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ChangeB2GOutgoingInvoiceStatusAckMsg">
    <xsd:annotation>
      <xsd:documentation>Sinkroni odgovor na poruku za promjenu statusa izlaznog ra??una za dr??avu.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:MessageAck" />
        <xsd:element minOccurs="0" ref="iwsc:Error" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>