Connected Services/ServiceReference4_B2GFinaInvoiceWebService/GetB2GIncomingInvoiceListMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:iwsc="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" xmlns="http://fina.hr/eracun/b2g/sync/GetB2GIncomingInvoiceList/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2g/sync/GetB2GIncomingInvoiceList/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvoiceWebServiceComponents.xsd" namespace="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" />
  <xsd:element name="GetB2GIncomingInvoiceListMsg">
    <xsd:annotation>
      <xsd:documentation>Poruka za dohvat liste ulaznih ra??una za poslovne subjekte.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:HeaderBuyer">
          <xsd:annotation>
            <xsd:documentation>Zaglavlje poruke</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>XML s podacima</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="B2GIncomingInvoiceList">
                <xsd:annotation>
                  <xsd:documentation>Omota?? upita za dohvat liste ulaznih ra??una</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="DocumentCurrencyCode" type="xsd:boolean">
                      <xsd:annotation>
                        <xsd:documentation>prikaz valute (DocumentCurrencyCode)</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:choice>
                      <xsd:element ref="iwsc:Filter">
                        <xsd:annotation>
                          <xsd:documentation>Filter za dohvat.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="InvoiceIDRange">
                        <xsd:annotation>
                          <xsd:documentation>Raspon za dohvat ra??una preko Fina InvoiceID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="From" type="xsd:integer">
                              <xsd:annotation>
                                <xsd:documentation>Invoice ID od (ne uklju??uju??i taj ID, ve??e od)</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="To" type="xsd:integer">
                              <xsd:annotation>
                                <xsd:documentation>Invoice ID do (uklju??uju??i taj ID, manje ili jednako do)</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetB2GIncomingInvoiceListAckMsg">
    <xsd:annotation>
      <xsd:documentation>Sinkroni odgovor na poruku za dohvat liste ulaznih ra??una za poslovne subjekte.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:MessageAck" />
        <xsd:choice>
          <xsd:element name="B2GIncomingInvoiceList">
            <xsd:annotation>
              <xsd:documentation>Omota?? upita za dohvat liste ulaznih ra??una</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="B2GIncomingInvoice">
                  <xsd:annotation>
                    <xsd:documentation>Omota?? ulaznog ra??una.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element ref="iwsc:DocumentType">
                        <xsd:annotation>
                          <xsd:documentation>Tip dokumenta.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element ref="iwsc:InvoiceStatus">
                        <xsd:annotation>
                          <xsd:documentation>Status dokumenta.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="SupplierID" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Identifikator dobavlja??a (OIB, npr. 9943:12345678901).</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalSupplierID" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Dodatni identifikator dobavlja??a (GLN, npr. 0088:12345678901).</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="SupplierRegistrationName" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Naziv po??iljatelja ra??una u sustavu.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="SupplierCompanyID" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>MB po??iljatelja ra??una u sustavu.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="InvoiceID" type="xsd:integer">
                        <xsd:annotation>
                          <xsd:documentation>Identifikator ra??una u sustavu e-Ra??unB2B.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="SupplierInvoiceID" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Identifikator ra??una po??iljatelja.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="DataInterchangeMethod">
                        <xsd:annotation>
                          <xsd:documentation>Metoda slanja ra??una (PKI, EDI, OTHER)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="PKI" />
                            <xsd:enumeration value="EDI" />
                            <xsd:enumeration value="OTHER" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="InvoiceIssueDate" type="xsd:date">
                        <xsd:annotation>
                          <xsd:documentation>Datum izdavanja ra??una.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="InvoiceDate" type="xsd:date">
                        <xsd:annotation>
                          <xsd:documentation>Datum ra??una.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="InvoiceTimestamp" type="xsd:dateTime">
                        <xsd:annotation>
                          <xsd:documentation>Timestamp ra??una u sustavu e-Ra??unB2G.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="InvoicePayableAmount" type="xsd:decimal">
                        <xsd:annotation>
                          <xsd:documentation>Iznos ra??una.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="DocumentCurrencyCode" type="xsd:string">
                        <xsd:annotation>
                          <xsd:documentation>Valuta ra??una.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="iwsc:Error" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>