Connected Services/ServiceReference4_B2GFinaInvoiceWebService/GetReceiverListJTMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:iwsc="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" xmlns="http://fina.hr/eracun/b2g/sync/GetReceiverListJT/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2g/sync/GetReceiverListJT/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvoiceWebServiceComponents.xsd" namespace="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" />
  <xsd:element name="GetReceiverListMsg">
    <xsd:annotation>
      <xsd:documentation>Poruka za dohvat liste primatelja iz registra.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:HeaderSupplier">
          <xsd:annotation>
            <xsd:documentation>Zaglavlje poruke</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>XML s podacima</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReceiverList">
                <xsd:annotation>
                  <xsd:documentation>Omota?? upita za dohvat liste ulaznih ra??una</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="iwsc:Filter">
                      <xsd:annotation>
                        <xsd:documentation>Filter za dohvat.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetReceiverListAckMsg">
    <xsd:annotation>
      <xsd:documentation>Sinkroni odgovor na poruku za dohvat liste primatelja obveznika javne nabave iz registra.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:MessageAck" />
        <xsd:element minOccurs="0" name="ReceiverList">
          <xsd:annotation>
            <xsd:documentation>Omota?? upita za dohvat liste primatelja iz registra</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Receiver">
                <xsd:annotation>
                  <xsd:documentation>Naziv tvrtke primatelja ra??una.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="RegistrationName" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Naziv tvrtke primatelja ra??una.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ISOCode" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>ISO kod dr??ave (HR)</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CompanyID" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>OIB</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="iwsc:PostalAddress">
                      <xsd:annotation>
                        <xsd:documentation>Adresa</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="BusinessBranch">
                      <xsd:annotation>
                        <xsd:documentation>Poslovna jedinica</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EndpointID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Identifikator poslovne jedinice (EndpointID).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="EndpointIDSchemeID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Identifikator shema (CEF lista).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="PartyIdentificationID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Identifikator poslovne jedinice (PartyIdentificationID npr. 9934:OIB::HR99:1234).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element minOccurs="0" name="PartyIdentificationIDSchemeID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Identifikator shema (ISO 6523 npr. 0088-&gt;GLN).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="BusinessBranchName" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Naziv poslovne jedinice.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="InformationProvider" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>
																Naziv informacijskog posrednika preko kojeg pretinac zaprima dokumente (naziv - tip)
															</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element ref="iwsc:PostalAddress">
                            <xsd:annotation>
                              <xsd:documentation>Adresa</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Activity" type="xsd:integer">
                            <xsd:annotation>
                              <xsd:documentation>Aktivnost poslovne jedinice.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:any minOccurs="0" namespace="##any" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>