Connected Services/ServiceReference4_B2GFinaInvoiceWebService/InvoiceWebServiceComponents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HeaderSupplier" type="HeaderSupplierType">
    <xsd:annotation>
      <xsd:documentation>Zaglavlje poruke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HeaderBuyer" type="HeaderBuyerType">
    <xsd:annotation>
      <xsd:documentation>Zaglavlje poruke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MessageAck" type="MessageAckType">
    <xsd:annotation>
      <xsd:documentation>Odgovor na poruku</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Error" type="ErrorType">
    <xsd:annotation>
      <xsd:documentation>Greška</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InvoiceStatus" type="InvoiceStatusType">
    <xsd:annotation>
      <xsd:documentation>Status dokumenta</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OutgoingInvoiceStatus" type="OutgoingInvoiceStatusType">
    <xsd:annotation>
      <xsd:documentation>Status izlaznog dokumenta</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentType" type="DocumentTypeType">
    <xsd:annotation>
      <xsd:documentation>Tip dokumenta</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PostalAddress" type="PostalAddressType">
    <xsd:annotation>
      <xsd:documentation>Poštanska adresa</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Filter" type="FilterType">
    <xsd:annotation>
      <xsd:documentation>Filter za pretragu</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="AckStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACCEPTED" />
      <xsd:enumeration value="MSG_NOT_VALID" />
      <xsd:enumeration value="SYSTEM_ERROR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeaderSupplierType">
    <xsd:sequence>
      <xsd:element name="MessageID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SupplierID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>OIB dobavljača (12345678901)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AdditionalSupplierID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dodatni identifikator dobavljača (GLN, DUNS,... npr. 0088:123456789)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageType" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Tip poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MessageAttributes" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Atribut poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderBuyerType">
    <xsd:sequence>
      <xsd:element name="MessageID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>OIB kupca (npr. 12345678901)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AdditionalBuyerID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dodatni identifikator kupca (GLN, DUNS,... npr. 0088:123456789)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageType" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Tip poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MessageAttributes" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Atribut poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageAckType">
    <xsd:sequence>
      <xsd:element name="MessageID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageAckID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke na koju se odnosi odgovor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageType" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Tip poruke - </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AckStatus" type="AckStatusType">
        <xsd:annotation>
          <xsd:documentation>Status odgovora</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AckStatusCode" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Šifra statusa iz sustava</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AckStatusText" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opis statusa iz sustava</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrorType">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Šifra greške odvojene delimiterom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorMessage" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opis greške odvojene delimiterom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ErrorText" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dodatni tekst greške</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceStatusType">
    <xsd:sequence>
      <xsd:element name="StatusCode">
        <xsd:annotation>
          <xsd:documentation>Status u sustavu e-Račun.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RECEIVED" />
            <xsd:enumeration value="RECEIVING_CONFIRMED" />
            <xsd:enumeration value="APPROVED" />
            <xsd:enumeration value="REJECTED" />
            <xsd:enumeration value="PAYMENT_RECEIVED" />
            <xsd:enumeration value="PAYMENT_FULFILLED" />
            <xsd:enumeration value="PAYMENT_PARTIALLY_FULFILLED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CodeReason">
        <xsd:annotation>
          <xsd:documentation>Šifra razloga.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="VAT_REASON" />
            <xsd:enumeration value="NOT_VAT_REASON" />
            <xsd:enumeration value="OTHER_REASON" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Napomena statusa (npr. razlog odbijanja računa).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OutgoingInvoiceStatusType">
    <xsd:sequence>
      <xsd:element name="StatusCode">
        <xsd:annotation>
          <xsd:documentation>Status u sustavu e-Račun.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PAYMENT_RECEIVED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PayedDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datum naplate računa.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayedAmount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Naplaćen iznos.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaymentMeansCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Šifra načina plaćanja prema UNCL 4461.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentTypeType">
    <xsd:sequence>
      <xsd:element name="XMLStandard">
        <xsd:annotation>
          <xsd:documentation>Standard XML dokumenta (UBL ili CII)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UBL" />
            <xsd:enumeration value="CII" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SpecificationIdentifier">
        <xsd:annotation>
          <xsd:documentation>Prilagodba XML dokumenta (urn:cen.eu:en16931:2017)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FinaInvoice" />
            <xsd:enumeration value="urn:cen.eu:en16931:2017" />
            <xsd:enumeration value="urn:cen.eu:en16931:2017#compliant#urn:fdc:peppol.eu:2017:poacc:billing:3.0" />
            <xsd:enumeration value="urn:cen.eu:en16931:2017#compliant#urn:mfin.gov.hr:cius-2025:1.0#conformant#urn:mfin.gov.hr:ext-2025:1.0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DocumentTypeCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tip dokumenta</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentTypeText" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opis tipa dokumenta</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FilterType">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="InvoiceStatus" type="InvoiceStatusType" />
      <xsd:element name="DateRange" type="DateRangeType" />
      <xsd:element name="AmountRange" type="DecimalRangeType" />
      <xsd:element name="TextSearch" type="TextSearchType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:sequence>
      <xsd:element name="From" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datum od</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="To" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datum do</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DecimalRangeType">
    <xsd:sequence>
      <xsd:element name="From" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Iznos od</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="To" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Iznos do</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TextSearchType">
    <xsd:sequence>
      <xsd:element name="SearchField" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Polje za pretragu (default ALL)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SearchValue" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tekst za pretragu</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StreetName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ulica</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BuildingNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PostalCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CityName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Country" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AddressLine" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>