Connected Services/ServiceReference1_SendB2BOutgoingInvoicePKIWebService/SendB2BOutgoingInvoicePKIWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soi="http://fina.hr/eracun/b2b/pki/SendB2BOutgoingInvoice/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soir="http://fina.hr/eracun/b2b/pki/SendB2BOutgoingInvoiceReporting/v0.1" xmlns:gois="http://fina.hr/eracun/b2b/pki/GetB2BOutgoingInvoiceStatus/v0.1" xmlns:e="http://fina.hr/eracun/b2b/pki/Echo/v0.1" xmlns:b2bEracImpl="http://fina.hr/eracun/b2b/ws/pki/v0.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fina.hr/eracun/b2b/ws/pki/v0.1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://fina.hr/eracun/b2b/ws/pki/v0.1">
      <xsd:import schemaLocation="EchoMsg.xsd" namespace="http://fina.hr/eracun/b2b/pki/Echo/v0.1" />
      <xsd:import schemaLocation="SendB2BOutgoingInvoiceMsg.xsd" namespace="http://fina.hr/eracun/b2b/pki/SendB2BOutgoingInvoice/v0.1" />
      <xsd:import schemaLocation="SendB2BOutgoingInvoiceReportingMsg.xsd" namespace="http://fina.hr/eracun/b2b/pki/SendB2BOutgoingInvoiceReporting/v0.1" />
      <xsd:import schemaLocation="GetB2BOutgoingInvoiceStatusMsg.xsd" namespace="http://fina.hr/eracun/b2b/pki/GetB2BOutgoingInvoiceStatus/v0.1" />
    </xsd:schema>
  </types>
  <message name="EchoSoapIn">
    <part name="body" element="e:EchoMsg" />
  </message>
  <message name="EchoSoapOut">
    <part name="bodyAck" element="e:EchoAckMsg" />
  </message>
  <message name="SendB2BOutgoingInvoiceSoapIn">
    <part name="body" element="soi:SendB2BOutgoingInvoiceMsg" />
  </message>
  <message name="SendB2BOutgoingInvoiceSoapOut">
    <part name="bodyAck" element="soi:SendB2BOutgoingInvoiceAckMsg" />
  </message>
  <message name="SendB2BOutgoingInvoiceReportingSoapIn">
    <part name="body" element="soir:SendB2BOutgoingInvoiceReportingMsg" />
  </message>
  <message name="SendB2BOutgoingInvoiceReportingSoapOut">
    <part name="bodyAck" element="soir:SendB2BOutgoingInvoiceReportingAckMsg" />
  </message>
  <message name="GetB2BOutgoingInvoiceStatusSoapIn">
    <part name="body" element="gois:GetB2BOutgoingInvoiceStatusMsg" />
  </message>
  <message name="GetB2BOutgoingInvoiceStatusSoapOut">
    <part name="bodyAck" element="gois:GetB2BOutgoingInvoiceStatusAckMsg" />
  </message>
  <portType name="eRacunB2BPortType">
    <operation name="echo">
      <input message="b2bEracImpl:EchoSoapIn" />
      <output message="b2bEracImpl:EchoSoapOut" />
    </operation>
    <operation name="sendB2BOutgoingInvoice">
      <input message="b2bEracImpl:SendB2BOutgoingInvoiceSoapIn" />
      <output message="b2bEracImpl:SendB2BOutgoingInvoiceSoapOut" />
    </operation>
    <operation name="sendB2BOutgoingInvoiceReporting">
      <input message="b2bEracImpl:SendB2BOutgoingInvoiceReportingSoapIn" />
      <output message="b2bEracImpl:SendB2BOutgoingInvoiceReportingSoapOut" />
    </operation>
    <operation name="getB2BOutgoingInvoiceStatus">
      <input message="b2bEracImpl:GetB2BOutgoingInvoiceStatusSoapIn" />
      <output message="b2bEracImpl:GetB2BOutgoingInvoiceStatusSoapOut" />
    </operation>
  </portType>
  <binding name="eRacunB2BBinding" type="b2bEracImpl:eRacunB2BPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="echo">
      <soap:operation soapAction="http://fina.hr/eracun/b2b/Echo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendB2BOutgoingInvoice">
      <soap:operation soapAction="http://fina.hr/eracun/b2b/SendB2BOutgoingInvoice" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendB2BOutgoingInvoiceReporting">
      <soap:operation soapAction="http://fina.hr/eracun/b2b/SendB2BOutgoingInvoiceReporting" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getB2BOutgoingInvoiceStatus">
      <soap:operation soapAction="http://fina.hr/eracun/b2b/GetB2BOutgoingInvoiceStatus" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SendB2BOutgoingInvoicePKIWebService">
    <port name="eRacunB2BPortType" binding="b2bEracImpl:eRacunB2BBinding">
      <soap:address location="http://ADDRESS/SendB2BOutgoingInvoicePKIWebService" />
    </port>
  </service>
</definitions>