Connected Services/ServiceReference3_SendB2GOutgoingInvoicePKIWebService/InvoiceWebServiceComponents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2g/invoicewebservicecomponents/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HeaderSupplier" type="HeaderSupplierType">
    <xsd:annotation>
      <xsd:documentation>Zaglavlje poruke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HeaderBuyer" type="HeaderBuyerType">
    <xsd:annotation>
      <xsd:documentation>Zaglavlje poruke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MessageAck" type="MessageAckType">
    <xsd:annotation>
      <xsd:documentation>Odgovor na poruku</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Error" type="ErrorType">
    <xsd:annotation>
      <xsd:documentation>Greška</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentStatus" type="DocumentStatusType">
    <xsd:annotation>
      <xsd:documentation>Status dokumenta</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PostalAddress" type="PostalAddressType">
    <xsd:annotation>
      <xsd:documentation>Poštanska adresa</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Filter" type="FilterType">
    <xsd:annotation>
      <xsd:documentation>Filter za pretragu</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="AckStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACCEPTED" />
      <xsd:enumeration value="MSG_NOT_VALID" />
      <xsd:enumeration value="SYSTEM_ERROR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeaderSupplierType">
    <xsd:sequence>
      <xsd:element name="MessageID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SupplierID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Identifikator izdavatelja (OIB) - 9934:12345678909</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AdditionalSupplierID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dodatni identifikator izdavatelja (GLN, JUS,...) - 0088:38545468711</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageType" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Tip poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MessageAttributes" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Atribut poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderBuyerType">
    <xsd:sequence>
      <xsd:element name="MessageID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerID" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni identifikator primatelja u sustavu e-Račun</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageType" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Tip poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MessageAttributes" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Atribut poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MessageAckType">
    <xsd:sequence>
      <xsd:element name="MessageID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageAckID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Jedinstveni broj poruke na koju se odnosi odgovor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageType" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Tip poruke - </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AckStatus" type="AckStatusType">
        <xsd:annotation>
          <xsd:documentation>Status odgovora</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AckStatusCode" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>Šifra statusa iz sustava</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AckStatusText" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opis statusa iz sustava</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrorType">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Šifra greške odvojene delimiterom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorMessage" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opis greške odvojene delimiterom</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ErrorText" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Dodatni tekst greške</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentStatusType">
    <xsd:sequence>
      <xsd:element name="StatusCode">
        <xsd:annotation>
          <xsd:documentation>Status u sustavu e-Račun.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RECEIVED" />
            <xsd:enumeration value="PAYMENT_RECEIVED" />
            <xsd:enumeration value="RECEIVING_CONFIRMED" />
            <xsd:enumeration value="APPROVED" />
            <xsd:enumeration value="REJECTED" />
            <xsd:enumeration value="PAYMENT_FULFILLED" />
            <xsd:enumeration value="PAYMENT_PARTIALLY_FULFILLED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="StatusText" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Opis šifre statusa u sustavu e-Račun.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StatusTimestamp" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Timestamp statusa u sustavu e-RačunB2G.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Napomena statusa (npr. razlog odbijanja računa).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PartialAmount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Iznos djelomično plaćenog.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DocumentCurrencyCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Valuta računa.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FilterType">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="InvoiceStatus" type="InvoiceStatusType" />
      <xsd:element name="DateRange" type="DateRangeType" />
      <xsd:element name="AmountRange" type="DecimalRangeType" />
      <xsd:element name="TextSearch" type="TextSearchType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="InvoiceStatusType">
    <xsd:sequence>
      <xsd:element name="StatusCode">
        <xsd:annotation>
          <xsd:documentation>Status u sustavu e-Račun.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RECEIVED" />
            <xsd:enumeration value="PAYMENT_RECEIVED" />
            <xsd:enumeration value="RECEIVING_CONFIRMED" />
            <xsd:enumeration value="APPROVED" />
            <xsd:enumeration value="REJECTED" />
            <xsd:enumeration value="PAYMENT_FULFILLED" />
            <xsd:enumeration value="PAYMENT_PARTIALLY_FULFILLED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Note" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Napomena statusa (npr. razlog odbijanja računa ili djelomičnog plaćanja).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PartialAmount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Iznos za djelomično plaćanje.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:sequence>
      <xsd:element name="From" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datum od</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="To" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Datum do</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DecimalRangeType">
    <xsd:sequence>
      <xsd:element name="From" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Iznos od</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="To" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>Iznos do</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TextSearchType">
    <xsd:sequence>
      <xsd:element name="SearchField" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Polje za pretragu (default ALL)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SearchValue" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Tekst za pretragu</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StreetName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Ulica</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BuildingNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PostalCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CityName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Country" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AddressLine" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Kućni broj</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>