Connected Services/ServiceReference2_B2BFinaInvoiceWebService/GetB2BOutgoingInvoiceMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:iwsc="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" xmlns="http://fina.hr/eracun/b2b/sync/GetB2BOutgoingInvoice/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2b/sync/GetB2BOutgoingInvoice/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvoiceWebServiceComponents.xsd" namespace="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" />
  <xsd:element name="GetB2BOutgoingInvoiceMsg">
    <xsd:annotation>
      <xsd:documentation>Poruka za dohvat izlaznog ra??una za B2B.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:HeaderSupplier">
          <xsd:annotation>
            <xsd:documentation>Zaglavlje poruke</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>XML s podacima</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="B2BOutgoingInvoice">
                <xsd:annotation>
                  <xsd:documentation>Omota?? upita za dohvat izlaznog ra??una</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="InvoiceID" type="xsd:integer">
                      <xsd:annotation>
                        <xsd:documentation>Identifikator ra??una u sustavu e-Ra??unB2B.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="DocumentCurrencyCode" type="xsd:boolean">
                      <xsd:annotation>
                        <xsd:documentation>prikaz valute (DocumentCurrencyCode)</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetB2BOutgoingInvoiceAckMsg">
    <xsd:annotation>
      <xsd:documentation>Sinkroni odgovor na poruku za dohvat izlaznog ra??una za B2B.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:MessageAck" />
        <xsd:choice>
          <xsd:element name="B2BOutgoingInvoice">
            <xsd:annotation>
              <xsd:documentation>Omota?? izlaznog ra??una</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="InvoiceID" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>Identifikator ra??una u sustavu e-Ra??unB2B.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="InvoiceTimestamp" type="xsd:dateTime">
                  <xsd:annotation>
                    <xsd:documentation>Timestamp ra??una u sustavu e-Ra??unB2B.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element ref="iwsc:DocumentType">
                  <xsd:annotation>
                    <xsd:documentation>Tip dokumenta za dohvat.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element ref="iwsc:InvoiceStatus">
                  <xsd:annotation>
                    <xsd:documentation>Status dokumenta za dohvat.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="DataInterchangeMethod">
                  <xsd:annotation>
                    <xsd:documentation>Metoda slanja ra??una (PKI, EDI, OTHER)</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="PKI" />
                      <xsd:enumeration value="EDI" />
                      <xsd:enumeration value="OTHER" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="OutgoingInvoiceEnvelope">
                  <xsd:annotation>
                    <xsd:documentation>Omotnica izlaznog ra??una</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:choice>
                        <xsd:element name="InvoiceEnvelope" type="xsd:base64Binary">
                          <xsd:annotation>
                            <xsd:documentation>Omota?? e-Ra??una po UBL shemi.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="CreditNoteEnvelope" type="xsd:base64Binary">
                          <xsd:annotation>
                            <xsd:documentation>Omota?? e-Odobrenja po UBL shemi.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:choice>
                      <xsd:element name="PdfDocument" type="xsd:base64Binary">
                        <xsd:annotation>
                          <xsd:documentation>PDF dokumenta.</xsd:documentation>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="iwsc:Error" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>