Connected Services/ServiceReference2_B2BFinaInvoiceWebService/GetReceiverListOIBMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:iwsc="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" xmlns="http://fina.hr/eracun/b2b/sync/GetReceiverListOIB/v0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fina.hr/eracun/b2b/sync/GetReceiverListOIB/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="InvoiceWebServiceComponents.xsd" namespace="http://fina.hr/eracun/b2b/invoicewebservicecomponents/v0.1" />
  <xsd:element name="GetReceiverListOIBMsg">
    <xsd:annotation>
      <xsd:documentation>Poruka za dohvat liste OIBa i ??ifri pretinaca primatelja iz registra.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:HeaderSupplier">
          <xsd:annotation>
            <xsd:documentation>Zaglavlje poruke</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Data">
          <xsd:annotation>
            <xsd:documentation>XML s podacima</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ReceiverListOIB">
                <xsd:annotation>
                  <xsd:documentation>Omota?? upita za dohvat liste OIBa i ??ifri pretinaca primatelja ra??una</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="iwsc:Filter">
                      <xsd:annotation>
                        <xsd:documentation>Filter za dohvat.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetReceiverListOIBAckMsg">
    <xsd:annotation>
      <xsd:documentation>Sinkroni odgovor na poruku za dohvat liste primatelja iz registra.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iwsc:MessageAck" />
        <xsd:element minOccurs="0" name="ReceiverListOIB">
          <xsd:annotation>
            <xsd:documentation>Omota?? upita za dohvat liste primatelja iz registra</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Receiver">
                <xsd:annotation>
                  <xsd:documentation>Primatelj ra??una.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ISOCode" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>ISO kod dr??ave (HR)</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="OIB" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>OIB primatelja ra??una.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="BusinessBranch">
                      <xsd:annotation>
                        <xsd:documentation>Podaci o pretincu primatelja</xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="EndpointID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Elektroni??ka adresa (EndpointID npr. OIB, GLN).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="EndpointIDSchemeID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Identifikator sheme elektroni??ke adrese (EndpointID @schemeID npr. 9934, 0088).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element minOccurs="0" name="PartyIdentificationID" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Identifikator poslovne jedinice (PartyIdentificationID npr. 9934:OIB::HR99:1234).</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element minOccurs="1" name="PartyName" type="xsd:string">
                            <xsd:annotation>
                              <xsd:documentation>Naziv poslovne jedinice.</xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>